html,
body,
#app {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'myCustomFont';
  /*a name to be used later*/
  src: url('../public/fonts/Rubik-VariableFont_wght.ttf');
  /*URL to font*/
}

* {
  font-family: 'myCustomFont';
}